# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# IDE
.vscode/
.idea/

# Artefactos/build
dist/
build/
Output/
*.exe
*.msi
*.zip

# Datos de Zerox
data/logs/
data/models/cache_modelos/
*.onnx
*.pt
*.pth
Hugging Face/
*.env
